@import "./bootstrap-overrides";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background-color: #f4f2ee;
}

#visualizzaprofilo {
  background-color: white;
  color: #0a66c2;
  border-radius: 20px;
  border: 1px solid #0a66c2;
  font-size: 12px;
  width: 200px;
  text-align: center;
  height: 25px;
}
.footer-small {
  font-size: 0.7rem;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
  color: grey;
}

.footer-small p {
  margin: 0;
}

.footer-small:hover,
.footer-right:hover {
  text-decoration: underline;
}

.footer-right {
  padding: 0;
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 5px;
}

.footer-right p {
  margin: 0;
.altezza {
  height: 50px;
}
